@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;700&display=swap');

body {
    background-color: #063daa;
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    color: rgba(255,170,0,1);
}

#nav-bar {
    background-color: rgba(255,170,0,1);
    height: 4vh;
    font-weight: bold;
    justify-content: center;
    padding-top: 1vh;
    padding-left: 1vh;
}

#logo {
    width: 35vw;
    filter: drop-shadow(0px 0px 20px);
    padding-top: 10vh;
    cursor: pointer;
    margin: 0 8px;
    color: black;
}

#logo:hover {
    filter: drop-shadow(0px 0px 40px);
}

.parent-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#search-form {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.button {
    background-color: #063daa;
    border: solid 2px rgba(255,170,0,1);
    color: rgba(255,170,0,1);
    border-radius: 5px;
    margin-top: 10px;
    width: 6em;
    filter: drop-shadow(1px 1px 5px rgba(23,25,27,0.8));
    font-family: 'Chakra Petch', sans-serif;
}

.form-text {
    background-color:rgba(255,170,0,1);
    color: #063daa;
    font-size: large;
    font-weight: 800;
    opacity: 100%;
    border-radius: 5px;
    text-indent: 5px;
}

.form-field {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
    align-items: center;
}

.form-field label {
    padding-right: 5px;
}

#logo-login {
    width: 35vw;
    filter: drop-shadow(0px 0px 20px);
    padding-top: 4vh;
    color: black;
}

.login-img {
    display: flex;
}