body {
    background-color: #063daa;
    padding: 0;
    margin: 0;
}

#nav-bar {
    background-color: rgba(175,170,163, 0.8);
    height: 7vh;
}

#logo {
    width: 40vw;
    filter: drop-shadow(0px 0px 20px);
    padding-top: 10vh;

}

#logo:hover {
    width: 35vw;
    filter: drop-shadow(0px 0px 40px);
}

.parent-div {
    display: flex;
    align-items: center;
    justify-content: center;
}