body {
    background-color: #063daa;
}

#logo {
    width: 35vw;
    filter: drop-shadow(0px 0px 20px);
    padding-top: 10vh;
    cursor: pointer;
}

#logo:hover {
    width: 40vw;
    filter: drop-shadow(0px 0px 40px);
}

.parent-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-form {
    display: none;
    flex-direction: column;
    padding-top: 20px;
}
.button {
    background-color: #063daa;
    border: solid rgba(255,170,0,1);
    color: rgba(255,170,0,1);
    border-radius: 5px;
}
.search-text {
    background-color:rgba(255,170,0,1);
    color: #063daa;
    font-size: large;
    font-weight: 800;
    opacity: 100%;
    border-radius: 5px;
}